.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 36, 86);
    color: #fff;
    padding: .75rem;
    margin-bottom: 1rem;

    a {
        color: #fff;
        text-decoration: none;
    }
}